<h1>Todos os Produtos</h1>

<% if @products.empty? %>
  <p>Não há produto cadastrado</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Nome do Produto</th>
        <th>Valor (R$)</th>
        <th>Categoria</th>
         <th colspan="3">Ação</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product %></td>
          <td><%= product.value %></td>
          <td><%= product.category.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>